.contact-details-container {
  padding: 10px;
  height: 50px;

.contact-details-link {
  padding-left: 50px;
  position: relative;
  top: -60px;
}

.preferences {
  padding-left: 50px;
  position: relative;
  top: -70px;
}
}
