@contactPhotoSize: 60px;

.contact-details-container {
  background-color: #ffffff;
  padding: 10px;
  height: 80px;

	.contact-details-photo {
	    	height: @contactPhotoSize;
	    	width: @contactPhotoSize;
	    	border-radius: @contactPhotoSize/2;
	    	float:left;
	}

	.contact-details-link {
		padding-left: 10px;
		position: relative;
		top: -20px;
	}

	.preferences {
		position: relative;
  		top: -30px;
  		left: 70px;
	}
}

.button {
	position: absolute;
	top:36px;
	right: 10px;
}
.muidocs-icon-action-add:before {
  content: "Go"
}
