.event-details-container {
  background-color: #ffffff;
  padding: 10px;
  height: 80px;

.event-details-link {
		padding-left: 10px;
		position: relative;
		top: -20px;
    }

.event-details {
  padding-left: 10px;
  position: relative;
  top: -30px;
  }
}

.button {
	position: absolute;
	top:36px;
	right: 10px;
  }

.muidocs-icon-action-add:before {
  content: "Go"
}
